  /*Colors and fonts*/


  body  {
background-color :#F7F9FC;
color : #383E42;
 font-family: 'Handlee', cursive; 
 font-size:  17px;
 line-height: 1,6;
font-weight: lighter ;

  }


  h1{ color : #59A96A; 
font-family: 'Caveat Brush', cursive;
font-weight : bold;
letter-spacing: 10px;
font-size:50px;
}

h2 {color : #1A535C	;
font-size 24px}

a {
	text-decoration: none ;
	color :#59A96A;
	font-weight: bold;
}
a:hover {
	color: #AED3D8;
}

p{ color : #24737F;
font-family: 'Roboto', sans-serif;
}





 /*Custom design with class*/

.container {
	width: 700px;
	margin: 40px auto;
}



@media (max-width: 760px) {
	.container {
		width: 600px;
	}
}

@media (max-width: 500px) {
	.container {
		width: 400px;
	}
}



.card-white {
	background-color: white;
	padding: 40px ;
	box-shadow: 0px 10px 30px rgba(0,0,0)
	border-radius : 4px;
	margin : 20px 0px;
	text-align: center;
}



.img-circle {
	border-radius : 50px;


}

.button-green{
	 background-color : #59A96A ;
	 color : white;
	 padding : 10px 15px ;
	 border-radius : 4px;
	}
.button-green:hover { 
	background-color: #AED3D8 ;
	color : white;	
 }

.list-inline {
	list-style: none;
	padding-left : 0px;
}

.list-inline li {
	display : inline ;
	padding : 10px ;

}
.list-inline i {
	font-size :50px;
	color : #59A96A;
}

.list-inline i :hover {
	color : #AED3D8;
}

#introduction p{
	margin-bottom: 40px

}



















